@model List<Travel>
@{
    ViewData["Title"] = "Tours";
}


<div class="align-content-center">
    <h1>Our amazing tours</h1>
    <p>Questi sono i nostri splendidi viaggi</p>
</div>

<div class="container text-center py-3">
    <div class="row">



        @foreach (Travel travel in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img src="@travel.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body bg-@travel.Color text-white">
                        <h3 class="card-title">@travel.Name</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@travel.Description</li>
                        <li class="list-group-item">
                            <p class="text-@travel.Color">@travel.Days days - @travel.Destinations destinations</p>
                            <p class="text-secondary"><b class="text-black">@travel.Price€</b>/persona</p>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-@travel.Color btn-lg text-white">Prenota Ora</button>
                    </div>
                </div>
            </div>
        }

    </div>
    
</div>




